<div class="BsCellCircle @CellStyle">
    &nbsp;
</div>

@code {

    [Parameter]
    public int Row { get; set; }

    [Parameter]
    public int Col { get; set; }

    [Parameter]
    public string? CellStyle { get; set; }

}