
@media(max-width: 1181px) {
    body {
        font-size: .85em !important;
    }
}

@media(max-width: 800px) {
    body {
        font-size: .5em !important;
    }
}

@media(max-width: 650px) {
    body {
        font-size: .5em !important;
    }

}
